In [1]:
import pandas as pd

In [2]:
person={'Names':['meh','pri','dos'],'marks':[30,20,10]}

In [3]:
s=pd.DataFrame(person)

In [4]:
s

  Names  marks
0   meh     30
1   pri     20
2   dos     10

In [5]:
cars=pd.read_csv("/home/mehnaz/Downloads/mtcars2.csv")

In [6]:
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [7]:
cars.head()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No        32 non-null     int64
 1   Unnamed: 1  32 non-null     object
 2   mpg         32 non-null     float64
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          32 non-null     int64
 6   drat        32 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        29 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.4+ KB

In [9]:
cars.median(numeric_only=True)

S.No     16.500
mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.420
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [10]:
cars.count()

S.No          32
Unnamed: 1    32
mpg           32
cyl           32
disp          32
hp            32
drat          32
wt            32
qsec          29
vs            32
am            32
gear          32
carb          32
dtype: int64

In [11]:
cars.max()

S.No                  32
Unnamed: 1    Volvo 142E
mpg                 33.9
cyl                    8
disp               472.0
hp                   335
drat                4.93
wt                 5.424
qsec                22.9
vs                     1
am                     1
gear                   5
carb                   8
dtype: object

In [12]:
cars.describe()

,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [13]:
cars['mpg'].mean()

20.090625000000003

In [14]:
cars['mpg'].std()

6.026948052089104

In [15]:
cars.mpg.mean()

20.090625000000003

In [16]:
cars.columns

Index(['S.No', 'Unnamed: 1', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec',
       'vs', 'am', 'gear', 'carb'],
      dtype='object')

In [17]:
cars=cars.rename(columns={"Unnamed: 1":"Model"})
cars

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [18]:
#fillna
qmean=cars.qsec.mean()

In [19]:
cars['qsec']=cars['qsec'].fillna('qmean')

In [20]:
cars.count()

S.No     32
Model    32
mpg      32
cyl      32
disp     32
hp       32
drat     32
wt       32
qsec     32
vs       32
am       32
gear     32
carb     32
dtype: int64

In [21]:
#drop the column

In [22]:
withoutSnocolumn=cars.drop(columns=['S.No'])
withoutSnocolumn

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [23]:
cars
#cars.iloc[:,3]

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [24]:
cars['Model']

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: Model, dtype: object

In [28]:
cars.loc[:,['Model','cyl','hp']]
cars.loc[5:10,['Model','cyl','hp']]

         Model  cyl   hp
5      Valiant    6  105
6   Duster 360    8  245
7    Merc 240D    4   62
8     Merc 230    4   95
9     Merc 280    6  123
10   Merc 280C    6  123

In [29]:
cars.loc[:,:]

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [30]:
cars['am']=1

In [32]:
cars['colour']='black'

In [36]:
cars

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,black
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,black
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,black
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,black
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,black
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,1,3,1,black
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,black
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,1,4,2,black
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,1,4,2,black
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,1,4,4,black
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,1,4,4,black
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,1,3,3,black
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,1,3,3,black
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,1,3,3,black
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,black
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,black
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,black
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,1,4,1,black
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,black
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1,black
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,black
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,black
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,1,3,2,black
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,black
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,black
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,1,4,1,black
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2,black
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2,black
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4,black
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6,black
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8,black
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2,black

In [37]:
cars[["x","y"]]=0,1

In [38]:
cars

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,black,0,1
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,black,0,1
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,black,0,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,black,0,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,black,0,1
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,1,3,1,black,0,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,black,0,1
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,1,4,2,black,0,1
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,1,4,2,black,0,1
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,1,4,4,black,0,1
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,1,4,4,black,0,1
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,1,3,3,black,0,1
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,1,3,3,black,0,1
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,1,3,3,black,0,1
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,black,0,1
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,black,0,1
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,black,0,1
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,1,4,1,black,0,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,black,0,1
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1,black,0,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,black,0,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,black,0,1
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,1,3,2,black,0,1
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,black,0,1
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,black,0,1
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,1,4,1,black,0,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2,black,0,1
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2,black,0,1
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4,black,0,1
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6,black,0,1
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8,black,0,1
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2,black,0,1

In [43]:
fun1=lambda x:x*2
l=[1,2,3,4]
list(map(fun1,l))
fun2=lambda x:x**2
li=[1,2,3,4,5]
list(map(fun2,li))

[1, 4, 9, 16, 25]

In [50]:
cars['am']=cars['am'].apply(fun1)
cars['am2']=cars['am'].map(fun2)

In [48]:
cars

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y,am2
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,16,4,4,black,0,1,256
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,16,4,4,black,0,1,256
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,16,4,1,black,0,1,256
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,16,3,1,black,0,1,256
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,16,3,2,black,0,1,256
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,16,3,1,black,0,1,256
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,16,3,4,black,0,1,256
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,16,4,2,black,0,1,256
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,16,4,2,black,0,1,256
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,16,4,4,black,0,1,256
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,16,4,4,black,0,1,256
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,16,3,3,black,0,1,256
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,16,3,3,black,0,1,256
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,16,3,3,black,0,1,256
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,16,3,4,black,0,1,256
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,16,3,4,black,0,1,256
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,16,3,4,black,0,1,256
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,16,4,1,black,0,1,256
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,16,4,2,black,0,1,256
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,16,4,1,black,0,1,256
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,16,3,1,black,0,1,256
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,16,3,2,black,0,1,256
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,16,3,2,black,0,1,256
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,16,3,4,black,0,1,256
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,16,3,2,black,0,1,256
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,16,4,1,black,0,1,256
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,16,5,2,black,0,1,256
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,16,5,2,black,0,1,256
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,16,5,4,black,0,1,256
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,16,5,6,black,0,1,256
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,16,5,8,black,0,1,256
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,16,4,2,black,0,1,256

In [53]:
#sorting in ascending
cars2=cars.sort_values(by='hp')

In [54]:
cars2

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y,am2
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,64,4,2,black,0,1,4096
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,64,4,2,black,0,1,4096
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,64,4,1,black,0,1,4096
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,64,4,1,black,0,1,4096
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,64,4,1,black,0,1,4096
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,64,5,2,black,0,1,4096
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,64,4,1,black,0,1,4096
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,64,4,2,black,0,1,4096
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,64,3,1,black,0,1,4096
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,64,3,1,black,0,1,4096
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,64,4,2,black,0,1,4096
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,64,4,4,black,0,1,4096
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,64,4,4,black,0,1,4096
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,64,3,1,black,0,1,4096
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,64,5,2,black,0,1,4096
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,64,4,4,black,0,1,4096
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,64,4,4,black,0,1,4096
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,64,3,2,black,0,1,4096
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,64,3,2,black,0,1,4096
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,64,5,6,black,0,1,4096
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,64,3,2,black,0,1,4096
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,64,3,2,black,0,1,4096
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,64,3,3,black,0,1,4096
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,64,3,3,black,0,1,4096
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,64,3,3,black,0,1,4096
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,64,3,4,black,0,1,4096
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,64,3,4,black,0,1,4096
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,64,3,4,black,0,1,4096
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,64,3,4,black,0,1,4096
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,64,3,4,black,0,1,4096
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,64,5,4,black,0,1,4096
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,64,5,8,black,0,1,4096

In [57]:
cars.sort_values(by='hp',ascending=False)

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y,am2
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,64,5,8,black,0,1,4096
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,64,5,4,black,0,1,4096
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,64,3,4,black,0,1,4096
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,64,3,4,black,0,1,4096
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,64,3,4,black,0,1,4096
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,64,3,4,black,0,1,4096
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,64,3,4,black,0,1,4096
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,64,3,3,black,0,1,4096
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,64,3,3,black,0,1,4096
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,64,3,3,black,0,1,4096
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,64,5,6,black,0,1,4096
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,64,3,2,black,0,1,4096
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,64,3,2,black,0,1,4096
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,64,3,2,black,0,1,4096
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,64,3,2,black,0,1,4096
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,64,4,4,black,0,1,4096
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,64,4,4,black,0,1,4096
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,64,5,2,black,0,1,4096
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,64,4,4,black,0,1,4096
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,64,4,4,black,0,1,4096
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,64,3,1,black,0,1,4096
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,64,4,2,black,0,1,4096
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,64,3,1,black,0,1,4096
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,64,3,1,black,0,1,4096
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,64,4,2,black,0,1,4096
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,64,4,1,black,0,1,4096
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,64,5,2,black,0,1,4096
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,64,4,1,black,0,1,4096
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,64,4,1,black,0,1,4096
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,64,4,1,black,0,1,4096
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,64,4,2,black,0,1,4096
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,64,4,2,black,0,1,4096

In [63]:
c=cars.sort_values(by=['cyl','disp'],ascending=False)
c.sort_index()
c.reset_index()
c.reset_index(drop=True)
c

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y,am2
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,64,3,4,black,0,1,4096
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,64,3,4,black,0,1,4096
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,64,3,4,black,0,1,4096
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,64,3,2,black,0,1,4096
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,64,3,2,black,0,1,4096
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,64,3,4,black,0,1,4096
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,64,5,4,black,0,1,4096
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,64,3,4,black,0,1,4096
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,64,3,2,black,0,1,4096
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,64,3,2,black,0,1,4096
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,64,5,8,black,0,1,4096
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,64,3,3,black,0,1,4096
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,64,3,3,black,0,1,4096
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,64,3,3,black,0,1,4096
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,64,3,1,black,0,1,4096
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,64,3,1,black,0,1,4096
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,64,4,4,black,0,1,4096
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,64,4,4,black,0,1,4096
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,64,4,4,black,0,1,4096
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,64,4,4,black,0,1,4096
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,64,5,6,black,0,1,4096
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,64,4,2,black,0,1,4096
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,64,4,2,black,0,1,4096
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,64,4,2,black,0,1,4096
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,64,5,2,black,0,1,4096
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,64,3,1,black,0,1,4096
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,64,4,1,black,0,1,4096
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,64,5,2,black,0,1,4096
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,64,4,1,black,0,1,4096
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,64,4,1,black,0,1,4096
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,64,4,2,black,0,1,4096
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,64,4,1,black,0,1,4096

In [64]:
#Filtering

cars['cyl']>6

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29    False
30     True
31    False
Name: cyl, dtype: bool

In [65]:
cars[cars['cyl']>6]

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y,am2
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,64,3,2,black,0,1,4096
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,64,3,4,black,0,1,4096
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,64,3,3,black,0,1,4096
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,64,3,3,black,0,1,4096
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,64,3,3,black,0,1,4096
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,64,3,4,black,0,1,4096
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,64,3,4,black,0,1,4096
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,64,3,4,black,0,1,4096
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,64,3,2,black,0,1,4096
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,64,3,2,black,0,1,4096
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,64,3,4,black,0,1,4096
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,64,3,2,black,0,1,4096
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,64,5,4,black,0,1,4096
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,64,5,8,black,0,1,4096

In [69]:
carf=cars[cars['cyl']>6]

In [70]:
carf

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y,am2
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,64,3,2,black,0,1,4096
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,64,3,4,black,0,1,4096
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,64,3,3,black,0,1,4096
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,64,3,3,black,0,1,4096
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,64,3,3,black,0,1,4096
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,64,3,4,black,0,1,4096
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,64,3,4,black,0,1,4096
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,64,3,4,black,0,1,4096
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,64,3,2,black,0,1,4096
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,64,3,2,black,0,1,4096
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,64,3,4,black,0,1,4096
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,64,3,2,black,0,1,4096
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,64,5,4,black,0,1,4096
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,64,5,8,black,0,1,4096

In [71]:
cars['colour']='white'

In [95]:
cars.loc[cars[cars["cyl"]==8].index,["color"]] ='green'
cars

,S.No,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,colour,x,y,am2,color
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,64,4,4,white,0,1,4096,NaN
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,64,4,4,white,0,1,4096,NaN
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,64,4,1,white,0,1,4096,NaN
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,64,3,1,white,0,1,4096,NaN
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,64,3,2,white,0,1,4096,green
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,qmean,1,64,3,1,white,0,1,4096,NaN
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,64,3,4,white,0,1,4096,green
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,64,4,2,white,0,1,4096,NaN
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,64,4,2,white,0,1,4096,NaN
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3,1,64,4,4,white,0,1,4096,NaN
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9,1,64,4,4,white,0,1,4096,NaN
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4,0,64,3,3,white,0,1,4096,green
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,64,3,3,white,0,1,4096,green
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0,0,64,3,3,white,0,1,4096,green
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,64,3,4,white,0,1,4096,green
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,64,3,4,white,0,1,4096,green
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,64,3,4,white,0,1,4096,green
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,qmean,1,64,4,1,white,0,1,4096,NaN
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,64,4,2,white,0,1,4096,NaN
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,64,4,1,white,0,1,4096,NaN
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,64,3,1,white,0,1,4096,NaN
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,64,3,2,white,0,1,4096,green
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3,0,64,3,2,white,0,1,4096,green
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,64,3,4,white,0,1,4096,green
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,64,3,2,white,0,1,4096,green
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,qmean,1,64,4,1,white,0,1,4096,NaN
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,64,5,2,white,0,1,4096,NaN
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,64,5,2,white,0,1,4096,NaN
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,64,5,4,white,0,1,4096,green
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,64,5,6,white,0,1,4096,NaN
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,64,5,8,white,0,1,4096,green
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,64,4,2,white,0,1,4096,NaN

In [79]:
cricket=pd.DataFrame({'player_name':["sachin","dhoni","kaif","yuraj","kholi","ricky"],
        "team":['mi',"cik","kkr","pb","rcb","dc"],
        "score":[250,300,200,150,400,300]})

In [80]:
cricket

  player_name team  score
0      sachin   mi    250
1       dhoni  cik    300
2        kaif  kkr    200
3       yuraj   pb    150
4       kholi  rcb    400
5       ricky   dc    300

In [82]:
cricket.groupby('team').sum()

     player_name  score
team
cik        dhoni    300
dc         ricky    300
kkr         kaif    200
mi        sachin    250
pb         yuraj    150
rcb        kholi    400

In [91]:
cricket.groupby('player_name').count()

             team  score
player_name
dhoni           1      1
kaif            1      1
kholi           1      1
ricky           1      1
sachin          1      1
yuraj           1      1

In [88]:
cricket.groupby('team').mean()

TypeError: Could not convert dhoni to numeric

In [96]:
cricket2=pd.DataFrame({'player_name':["sachin","dhoni","kaif","yuraj","kholi","ricky"],
        "wicket":[1,12,20,15,4,3]})

In [97]:
cricket2=pd.DataFrame({'player_name':["sachin","dhoni","kaif","yuraj","kholi","ricky"],
        "wicket":[1,12,20,15,4,3]})

In [100]:
cricket2.merge(cricket,on='player_name')

  player_name  wicket team  score
0      sachin       1   mi    250
1       dhoni      12  cik    300
2        kaif      20  kkr    200
3       yuraj      15   pb    150
4       kholi       4  rcb    400
5       ricky       3   dc    300

In [104]:
data1=pd.concat([cricket,cricket2])

In [105]:
data1

  player_name team  score  wicket
0      sachin   mi  250.0     NaN
1       dhoni  cik  300.0     NaN
2        kaif  kkr  200.0     NaN
3       yuraj   pb  150.0     NaN
4       kholi  rcb  400.0     NaN
5       ricky   dc  300.0     NaN
0      sachin  NaN    NaN     1.0
1       dhoni  NaN    NaN    12.0
2        kaif  NaN    NaN    20.0
3       yuraj  NaN    NaN    15.0
4       kholi  NaN    NaN     4.0
5       ricky  NaN    NaN     3.0

In [109]:
data1.to_csv('classpandastillend.csv') #export